#header{
  box-shadow: 0px 1px 10px gray;
}
#dropdown-menu-header{
    padding-top: 15px;
}
#topo_acessibilidade {
  height: auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 0px;
  padding-right: 0px;
  display: table;
}
#nav1 li, #nav2 li {
  display: inline-block;
}
#nav1 li {
  margin-right: 10px;
  font-size: .9em;
}
#nav2 li {
  margin: 0 10px;
  font-size: .95em;
}
#nav1{
  float:left;
  font-size: 12px;
}
#nav2{
  float:right;
  font-size: 12px;
}
.btn-link{
  cursor: pointer;
}
.dropdown-toggle{
    color: #404040;
    padding:15px;
}
.dropdown-toggle:hover{
  color: #337cbb;
  text-decoration:none;
}
.dropdown-toggle:focus{
  color: #337cbb;
  text-decoration:none;
}

div.dropdown-container > div.dropdown-display {
  float: left;
  width: 100%;
  background: white;
  height: 40px;
  cursor: pointer;
  border: solid 1px #DDD;
}
div.dropdown-container > div.dropdown-display > * {
  float: left;
  height: 100%;
}
div.dropdown-container > div.dropdown-display > span {
  font-size: 14px;
  width: 100%;
  position: relative;
  padding-right: 34px;
  padding-left: 10px;
}
div.dropdown-container > div.dropdown-display > i {
  position: relative;
  width: 14px;
  margin-left: -24px;
  font-size: 1.125em;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
div.dropdown-container > div.dropdown-list {
  float: left;
  position: relative;
  width: 100%;
}
div.dropdown-container > div.dropdown-list > div {
  position: absolute;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  background: white;
}
div.dropdown-container > div.dropdown-list > div > div {
  float: left;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  border: solid 1px #DDD;
  border-top: none;
}
div.dropdown-container > div.dropdown-list > div > div:hover {
  background: #F0F0F0;
}
div.dropdown-container > div.dropdown-list > div > div.selected {
  background: #2875C7;
  color: white;
}
div.dropdown-container > div.dropdown-list > div > div > span {
  float: left;
  width: 100%;
}

.topo{
  background: url('../img/topo.gif') no-repeat 0 0;
  text-decoration: none;
  display: inline-block;
  text-indent: 15px;
  float: right;
  color: black;
  font-weight: bold;
  font-size: smaller;
  cursor: pointer;
  margin-top: 10px;
}
.topo:hover{
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}
.media-heading{
  font-weight: bold;
}
.subTitulo{
  color: #337cbb;
  font-weight: bold;
  background-color: aliceblue;
  margin-bottom: 20px;
}
.subTituloItem{
  color: #337cbb;
}
.txtBloco{
  text-indent: 2em;
}
.table-texto{
  max-width: 900px;
  font-size: 12px;
}
.media-object {
   padding: 1px;
   background-color: #337cbb;
   box-shadow: 1px 1px 3px #363636;
   -webkit-box-shadow: 1px 1px 3px #363636;
   -moz-box-shadow: 1px 1px 3px #363636;
}
.media{
  min-height: 68px;
}
.h4-texto{
  padding-bottom: 20px;
}
.media-heading{
  margin-bottom: 10px;
}
.img-apoio {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  height: 50px;
}
.img-apoio img:hover {
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}
.img-apoio img {
  max-width: 180px;
  max-height: 50px;
  display: block;
  margin: auto;
}

/*Página entradadedados.html*/
#bloco_texto_formato_dados{
  clear: both;
  margin-top: 20px;
}
#bloco_texto_formato_dados h5{
  font-weight: bold;
}
.periodicidade, .arquivo_retornado, .tipo_arquivo {
  display: inline-table;
}
.formPeriodicidade{
  display: inline-table;
  width: 200px;
}
.periodicidade select{

}
.formEnderecoServico{
  max-width: 600px
}

/*Página resultado-consulta.html*/
.tablesaw-sortable th.tablesaw-sortable-head button {
  color: #337cbb;
  font-weight: bold;
  text-align: center;
  outline:0;
}

/*Página glossario.html*/
.glossario{
  margin-top: 0px;
  min-height:0px;
}

/*Página tutoriais.html*/
.tutorial{
  margin-top: 30px;
  min-height:0px;
}

/*Página confirmacao-contato.html*/
.col-width{
  max-width: 110px;
}
.texto-contato {
  padding-top: 0px;
}

/*Página contato.html*/
#assunto{
    max-width: 200px;
  }
#nome{
    max-width: 600px;
  }
#email{
    max-width: 600px;
  }
#mensagem{
  height: 200px;
  max-width: 600px;
}

/*Página HEADER LOGIN*/
.form-login{
  padding-left: 20px;
  padding-right: 20px;
}
#lembrarLogin{
  margin-left:0px;
}

#cpf, #senha, #confirmarSenha {
  max-width: 250px;
}

/*Página Dados e Indicadores*/
.col-3-dados{
  width: 30%
}
.col-9-dados{
  width: 70%
}
.col-6-dados{
  width: 100%
}
#grafico-1,#grafico-2,#grafico-3,#grafico-4,#graficoMain-1,#graficoMain-2{
  height: 450px;
}
.histoGram{
  margin: 10px;
  float: left;
  max-height: 300px;
  max-width: 500px;
}
.pieChart{
  margin: 10px;
  max-width: 250px;
  float: left;
  max-height: 250px;
  margin-top: 70px;
}

path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    float: left;
    margin: 10px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 80px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}
.export {
    padding: 3px 4px 3px 4px;
    display: inline;
    cursor: pointer;
}

/*Página Dados e Indicadores*/
.formDataTermino, .formNumeroChamada{
  max-width: 250px;
}
.formNomePrograma, .formOrgao{
  max-width: 600px;
}
.formArquivoEdital{
  max-width: 500px;
}
.mapaDoSite{
  margin-top: 10px;
}
.logoIpea{
  display: block;
}

fieldset {
    font-family: sans-serif;
    border: 2px solid #337cbb;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    box-shadow: 2px 5px 10px #b2d5f0;
}

fieldset legend {
    padding: 5px 10px;
    font-size: 18px;
    margin-left: 20px;
    width: auto;
    border-bottom: none;
    font-weight: bold;
}
.captcha{
    max-width: 560px;
    margin-bottom: 30px;
}
.checkbox label{
    margin-bottom: 5px;
  }
  .text-list{
    text-indent:0px
  }
  .text-list li{
    margin-top: 5px;
  }

  .logado{
    display: none !important;
  }

table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%;
}

.tablesaw {
  border-collapse: collapse;
  width: 100%;
}

/* Structure */

.tablesaw {
  border: 0;
  padding: 0;
}

.tablesaw th,
.tablesaw td {
  box-sizing: border-box;
  padding: .5em .7em;
}

.tablesaw thead tr:first-child th {
  padding-top: 15px;
  padding-bottom: .7em;
}
table.tablesaw tbody th {
  font-weight: bold;
}

table.tablesaw thead th,
table.tablesaw thead td {
  color: #337ab7;
  font-size: .9em;
}

.tablesaw th,
.tablesaw td {
  line-height: 1em;
  text-align: left;
  vertical-align: middle;
}

.tablesaw td,
.tablesaw tbody th {
  vertical-align: middle;
  font-size: 1.17em;
  /* 19px */
}

.tablesaw td .btn,
.tablesaw tbody th .btn {
  margin: 0;
}

.tablesaw thead {
  border: 1px solid #e5e5e4;
  background: #e2dfdc;
  background-image: -webkit-linear-gradient(top, #fff, #e2dfdc);
  background-image: linear-gradient(to bottom, #fff, #e2dfdc);
}

.tablesaw thead th {
  font-weight: 100;
  color: #337ab7;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  text-align: left;
}

.tablesaw thead tr:first-child th {
  font-weight: normal;
  font-family: sans-serif;
  border-right: 1px solid #e4e1de;
}

/* Table rows have a gray bottom stroke by default */

.tablesaw tbody tr {
  border-bottom: 1px solid #dfdfdf;
}

.tablesaw caption {
  text-align: left;
  margin-bottom: 0;
  opacity: .5;
  filter: alpha(opacity=50);
  line-height: 2.4;
}

@media (min-width: 25em) {
  .tablesaw caption {
    margin-bottom: .6em;
    line-height: 1.2;
  }
}
@media (min-width: 40em) {
  .tablesaw td {
    line-height: 2em;
  }
}

/*Tooltip main*/
.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
