#header{
  box-shadow: 0px 1px 10px gray;
}
#dropdown-menu-header{
    padding-top: 15px;
}
#topo_acessibilidade {
  height: auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 0px;
  padding-right: 0px;
  display: table;
}
#nav1 li, #nav2 li {
  display: inline-block;
}
#nav1 li {
  margin-right: 10px;
  font-size: .9em;
}
#nav2 li {
  margin: 0 10px;
  font-size: .95em;
}
#nav1{
  float:left;
  font-size: 12px;
}
#nav2{
  float:right;
  font-size: 12px;
}
.btn-link{
  cursor: pointer;
}
.dropdown-toggle{
    color: #404040;
    padding:15px;
}
.dropdown-toggle:hover{
  color: #337cbb;
  text-decoration:none;
}
.dropdown-toggle:focus{
  color: #337cbb;
  text-decoration:none;
}

div.dropdown-container > div.dropdown-display {
  float: left;
  width: 100%;
  background: white;
  height: 40px;
  cursor: pointer;
  border: solid 1px #DDD;
}
div.dropdown-container > div.dropdown-display > * {
  float: left;
  height: 100%;
}
div.dropdown-container > div.dropdown-display > span {
  font-size: 14px;
  width: 100%;
  position: relative;
  padding-right: 34px;
  padding-left: 10px;
}
div.dropdown-container > div.dropdown-display > i {
  position: relative;
  width: 14px;
  margin-left: -24px;
  font-size: 1.125em;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
div.dropdown-container > div.dropdown-list {
  float: left;
  position: relative;
  width: 100%;
}
div.dropdown-container > div.dropdown-list > div {
  position: absolute;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  background: white;
}
div.dropdown-container > div.dropdown-list > div > div {
  float: left;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  border: solid 1px #DDD;
  border-top: none;
}
div.dropdown-container > div.dropdown-list > div > div:hover {
  background: #F0F0F0;
}
div.dropdown-container > div.dropdown-list > div > div.selected {
  background: #2875C7;
  color: white;
}
div.dropdown-container > div.dropdown-list > div > div > span {
  float: left;
  width: 100%;
}

.topo{
  background: url('../img/topo.gif') no-repeat 0 0;
  text-decoration: none;
  display: inline-block;
  text-indent: 15px;
  float: right;
  color: black;
  font-weight: bold;
  font-size: smaller;
  cursor: pointer;
  margin-top: 10px;
}
.topo:hover{
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}
.media-heading{
  font-weight: bold;
}
.subTitulo{
  color: #337cbb;
  font-weight: bold;
  background-color: aliceblue;
}
.subTituloItem{
  color: #337cbb;
}
.txtBloco{
  text-indent: 2em;
}
.table-texto{
  max-width: 900px;
  font-size: 12px;
}
.media-object {
   padding: 1px;
   background-color: #337cbb;
   box-shadow: 1px 1px 3px #363636;
   -webkit-box-shadow: 1px 1px 3px #363636;
   -moz-box-shadow: 1px 1px 3px #363636;
}
.media{
  min-height: 68px;
}
.h4-texto{
  padding-bottom: 20px;
}
.media-heading{
  margin-bottom: 10px;
}
.img-apoio {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  height: 50px;
}
.img-apoio img:hover {
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}
.img-apoio img {
  max-width: 180px;
  max-height: 50px;
  display: block;
  margin: auto;
}

/*Página entradadedados.html*/
#bloco_texto_formato_dados{
  clear: both;
  margin-top: 20px;
}
#bloco_texto_formato_dados h5{
  font-weight: bold;
}
.periodicidade, .arquivo_retornado, .tipo_arquivo {
  display: inline-table;
}
.formPeriodicidade{
  display: inline-table;
  width: 200px;
}
.periodicidade select{

}
.formEnderecoServico{
  max-width: 600px
}

/*Página resultado-consulta.html*/
.tablesaw-sortable th.tablesaw-sortable-head button {
  color: #337cbb;
  font-weight: bold;
  text-align: center;
  outline:0;
}

/*Página glossario.html*/
.glossario{
  margin-top: 0px;
  min-height:0px;
}

/*Página confirmacao-contato.html*/
.col-width{
  max-width: 110px;
}
.texto-contato {
  padding-top: 0px;
}

/*Página contato.html*/
#assunto{
    max-width: 200px;
  }
#nome{
    max-width: 600px;
  }
#email{
    max-width: 600px;
  }
#mensagem{
  height: 200px;
  max-width: 600px;
}

/*Página HEADER LOGIN*/
.form-login{
  padding-left: 20px;
  padding-right: 20px;
}
#lembrarLogin{
  margin-left:0px;
}

#cpf, #senha, #confirmarSenha {
  max-width: 250px;
}

/*Página Dados e Indicadores*/
.col-3-dados{
  width: 30%
}
.col-9-dados{
  width: 70%
}
.col-6-dados{
  width: 100%
}
#grafico-1,#grafico-2,#grafico-3,#grafico-4,#graficoMain-1,#graficoMain-2{
  height: 450px;
}
.histoGram{
  margin: 10px;
  float: left;
  max-height: 300px;
  max-width: 500px;
}
.pieChart{
  margin: 10px;
  max-width: 250px;
  float: left;
  max-height: 250px;
  margin-top: 70px;
}

path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    float: left;
    margin: 10px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 80px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}
.export {
    padding: 3px 4px 3px 4px;
    display: inline;
    cursor: pointer;
}

/*Página Dados e Indicadores*/
.formDataTermino, .formNumeroChamada{
  max-width: 250px;
}
.formNomePrograma, .formOrgao{
  max-width: 600px;
}
.formArquivoEdital{
  max-width: 500px;
}
