<!DOCTYPE html>
<html ng-app="oscApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página da OSC</title>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-controller="OscCtrl as ctrl" ng-init="ctrl.carregarDadosGerais()">
    <div id="barra-brasil"></div>
    <div id="header"></div>

    <div id="conteudo" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="camera.png" class="center-block img-responsive img-rounded">
          </div>
          <div class="col-md-9">
            <h2>{{ctrl.osc.cabecalho.tx_razao_social_osc}}</h2>
            <h3>CNPJ: {{ctrl.osc.cabecalho.cd_identificador_osc}}</h3>
            <h3>Atividade Econômica: {{ctrl.osc.cabecalho.ft_atividade_economica_osc}}</h3>
            <h3>Natureza Jurídica: {{ctrl.osc.cabecalho.tx_natureza_juridica}}</h3>
            <a class="btn btn-primary">Como Colaborar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <ul class="nav nav-pills">
          <li>
            <a href="#menu1">Dados Gerais</a>
          </li>
          <li>
            <a href="#menu2">Titulações e Certificações</a>
          </li>
          <li>
            <a href="#menu3">Relações de Trabalho</a>
          </li>
          <li>
            <a href="#menu5">Recursos</a>
          </li>
          <li>
            <a href="#menu4">Projetos</a>
          </li>
          <li>
            <a href="javascript:if(window.print)window.print()">Imprimir</a>
          </li>
        </ul>
        <hr>
        <div class="row">
          <div class="col-md-12" id="dados_gerais">
            <h2>Dados Gerais</h2>
            <div class="col-md-6 ">
              <div class="form-group">
                <label>Nome Fantasia:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_nome_fantasia_osc}}</p>
              </div>
              <div class="form-group">
                <label>Sigla OSC:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_sigla_osc}}</p>
              </div>
              <div class="form-group">
                <label>Atalho:</label>
                <p class="form-control-static">ABC</p>
              </div>
              <div class="form-group">
                <label>Endereço do Imóvel:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_endereco}}, {{ctrl.osc.dados_gerais.tx_endereco_complemento}}</p>
              </div>
              <div class="form-group">
                <label>Responsável Legal:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_nome_responsavel_legal}}</p>
              </div>
              <div class="form-group">
                <label>Ano de Fundação:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_natureza_juridica}}</p>
              </div>
              <div class="form-group">
                <label>E-mail:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_email}}</p>
              </div>
              <div class="form-group">
                <label>Site:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_site}}</p>
              </div>
              <div class="form-group">
                <label>Telefone:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_telefone}}</p>
              </div>
              <div class="form-group">
                <label>Resumo da OSC:</label>
                <textarea class="form-control" disabled="disabled">{{ctrl.osc.dados_gerais.tx_resumo_osc}}</textarea>
              </div>
              <div class="form-group">
                <label>Situação do Imóvel:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_natureza_juridica}}</p>
              </div>
              <div class="form-group">
                <label>Link do Estatuto:</label>
                <p class="form-control-static">{{ctrl.osc.dados_gerais.tx_link_estatuto_osc}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <hr>
          </div>
          <div class="col-md-12">
            <h2>Áreas de Atuação</h2>
            <div class="col-md-7 " ng-repeat="area in ctrl.osc.areas_atuacao">
              <div class="form-group">
                <label>{{area.tx_nome_macro_area_fasfil}}</label>
                <div>
                  <strong>Área</strong> -&gt; <em>{{area.tx_nome_area_fasfil}}</em>
                </div>
              </div>
              <div class="form-group">
                <label>Áreas autodeclaradas</label>
                <div class="form-group" ng-repeat="autodeclarada in area.areas_autodeclaradas">
                  <div class="">
                    <p class="form-control-static">{{autodeclarada.tx_nome_area_atuacao_declarada}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <hr>
          </div>
          <div class="col-md-12">
            <h2>Descrição da OSC</h2>
            <div class="col-md-7 ">
              <div class="form-group">
                <label>Como surgiu a OSC:</label>
                <div>
                  <textarea class="form-control" disabled="disabled">{{ctrl.osc.descricao.tx_como_surgiu}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label>Missão da OSC:</label>
                <div>
                  <textarea class="form-control" disabled="disabled">{{ctrl.osc.descricao.tx_missao_osc}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label>Visão da OSC:</label>
                <div>
                  <textarea class="form-control" disabled="disabled">{{ctrl.osc.descricao.tx_visao_osc}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label>Finalidades Estatutárias da OSC:</label>
                <div>
                  <textarea class="form-control" disabled="disabled">{{ctrl.osc.descricao.tx_finalidades_estatutarias}}</textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 ">
            <hr>
          </div>
          <div class="col-md-8 " id="menu2 ">
            <h2>Titulações e Certificações</h2>
            <div ng-repeat="certificacao in ctrl.osc.certificacoes">
              <label>{{certificacao.nm_certificado}}</label>
              <span>{{certificacao.ft_certificado}}</span>
              <span>(Emitido em {{certificacao.dt_inicio_certificado}} - Válido até {{certificacao.dt_fim_certificado}})</span>
            </div>
          </div>
          <div class="col-md-12 ">
            <hr>
          </div>
          <div class="col-md-12 " id="menu3 ">
            <h2>Relações de Trabalho</h2>
            <div class="col-md-5 form-inline">
              <h3>Colaboradores</h3>
              <div>
                <label>Total de Colaboradores</label>
                <p class="form-control-static">{{ctrl.osc.relacoes_trabalho.nr_trabalhadores}}</p>
              </div>
              <div>
                <label>Trabalhadores com vínculo</label>
                <p class="form-control-static">{{ctrl.osc.relacoes_trabalho.nr_trabalhadores_vinculo}}</p>
              </div>
              <div>
                <label>Trabalhadores com deficiência</label>
                <p class="form-control-static">{{ctrl.osc.relacoes_trabalho.nr_trabalhadores_deficiencia}}</p>
              </div>
              <div class="form-group">
                <label>Voluntários</label>
                <p class="form-control-static">{{ctrl.osc.relacoes_trabalho.nr_trabalhadores_voluntarios}}</p>
              </div>
            </div>
            <div class="col-md-7 form-inline">
              <h3>Quadro de Dirigentes</h3>
              <div class="edit-toggle " ng-repeat="dirigente in ctrl.osc.dirigentes">
                <div class="form-group">
                  <p class="form-control-static">{{dirigente.tx_cargo_dirigente}}</p>
                </div>
                <span>:</span>
                <div class="form-group">
                  <p class="form-control-static">{{dirigente.tx_nome_dirigente}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 ">
            <hr>
          </div>
          <div class="col-md-12 " id="menu ">
            <h2>Espaços de Participação Social</h2>
            <div class="">
              <div> <span class="h3">Conselhos</span></div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Conselho</th>
                    <th>Número de Assentos</th>
                    <th>Periodicidade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="conselho in ctrl.osc.participacao_social.conselho">
                    <td>
                      <p class="form-control-static">{{conselho.nm_conselho}}</p>
                    </td>
                    <td>
                      <p class="form-control-static">{{conselho.nr_numero_assentos}}</p>
                    </td>
                    <td>
                      <p class="form-control-static">{{conselho.tx_periodicidade_reuniao}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="">
              <h3>Conferências</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Conferência</th>
                    <th>Data de Início da Conferência</th>
                    <th>Data de Fim da Conferência</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="conferencia in ctrl.osc.participacao_social.conferencia">
                    <td>
                      <p class="form-control-static">{{conferencia.tx_nome_conferencia}}</p>
                    </td>
                    <td>
                      <p class="form-control-static">{{conferencia.dt_data_inicio_conferencia}}</p>
                    </td>
                    <td>
                      <p class="form-control-static">{{conferencia.dt_data_fim_conferencia}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="">
              <h3>Outros</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Data de Ingresso</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="outra in ctrl.osc.participacao_social.outra">
                    <td>
                      <p class="form-control-static">{{outra.tx_nome_outra_participacao_social}}</p>
                    </td>
                    <td>
                      <p class="form-control-static">{{outra.tx_tipo_outra_participacao_social}}</p>
                    </td>
                    <td>
                      <p class="form-control-static">{{outra.dt_data_ingresso_outra_participacao_social}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12 ">
            <hr>
          </div>
          <div class="col-md-12 " id="menu4 ">
            <h2>Recursos</h2>
            <div class="col-md-5 ">
              <div class="form-group">
                <label>Valor total dos recursos:</label>
                <span>{{ctrl.osc.recursos.nr_valor_total}}</span>
              </div>
              <div class="form-group">
                <label>Valor das Parcerias federais:</label>
                <span>{{ctrl.osc.recursos.nr_valor_federal}}</span>
              </div>
              <div class="form-group">
                <label>Valor das Parcerias estaduais:</label>
                <span>{{ctrl.osc.recursos.nr_valor_estadual}}</span>
              </div>
              <div class="form-group">
                <label>Valor das Parcerias municipais:</label>
                <span>{{ctrl.osc.recursos.nr_valor_municipal}}</span>
              </div>
              <div class="form-group">
                <label>Valor dos recursos privados:</label>
                <span>{{ctrl.osc.recursos.nr_valor_privado}}</span>
              </div>
              <div class="form-group">
                <p class="form-control-static"><a href="{{ctrl.osc.recursos.ft_link_demonstracao_contabil}}">{{ctrl.osc.recursos.tx_link_demonstracao_contabil}}</a></p>
              </div>
              <div class="form-group">
                <p class="form-control-static"><a href="{{ctrl.osc.recursos.ft_link_relatorio_auditoria}}">{{ctrl.osc.recursos.tx_link_relatorio_auditoria}}</a></p>
              </div>
            </div>
            <div class="col-md-7 form-inline">
              <h3>Conselho Contábil</h3>
              <div class="edit-toggle " ng-repeat="conselheiro in ctrl.osc.recursos.conselho_contabil">
                <div class="form-group">
                  <p class="form-control-static">{{conselheiro.tx_cargo_conselheiro}}</p>
                </div>
                <span>:</span>
                <div class="form-group">
                  <p class="form-control-static">{{conselheiro.tx_nome_conselheiro}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 ">
            <hr>
          </div>
          <div class="col-md-12 " id="menu5 ">
            <div class="project-header ">
              <h2>Projetos, atividades e/ou programas</h2>
            </div>
            <div class="panel panel-default " ng-repeat="proj in ctrl.osc.projetos">
              <div class="panel-heading ">
                <h3 class="panel-title ">
                  <a data-toggle="collapse" href="{{'#collapse'+ $index }}">{{proj.tx_nome_projeto}}</a>
                </h3>
              </div>
              <div id="{{'collapse'+ $index }} " class="panel-collapse collapse in">
                <div class="panel-body no-padding ">
                  <div class="row no-gutter bordered">
                    <div>
                      <div class="header">
                        Nome
                      </div>
                      <div class="form-group">
                        <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutter bordered ">
                    <div class="col-md-3">
                      <div class="header ">Status</div>
                      <div class="form-group">
                        <p class="form-control-static">{{proj.tx_nome_status_projeto}}</p>
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div class="header ">Data de Início</div>
                      <div class="form-group">
                        <p class="form-control-static">{{proj.dt_data_inicio_projeto}}</p>
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div class="header ">Data de Fim</div>
                      <div class="form-group">
                        <p class="form-control-static">{{proj.dt_data_fim_projeto}}</p>
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div class="header ">Link</div>
                      <div class="form-group">
                        <p class="form-control-static">{{proj.tx_link_projeto}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutter bordered ">
                    <div class="col-md-3 ">
                      <div>
                        <div class="header ">Total de Beneficiários</div>
                        <div class="form-group">
                          <div class="form-group">
                            <p class="form-control-static">{{proj.nr_total_beneficiarios}}</p>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="header ">Público Beneficiado</div>
                        <div class="form-group">
                          <div class="">
                            <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="">
                            <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="">
                            <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div>
                        <div class="header ">Valor Total</div>
                        <div class="form-group">
                          <p class="form-control-static">{{proj.nr_valor_total_projeto}}</p>
                        </div>
                      </div>
                      <div>
                        <div class="header ">Valor Captado</div>
                        <div class="form-group">
                          <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div>
                        <div class="header ">Tipo da Fonte de Recursos</div>
                        <div class="form-group">
                          <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                        </div>
                        <div>
                          <div class="header ">Financiadores do Projeto</div>
                          <div class="form-group">
                            <textarea class="form-control" disabled="disabled">{{proj.tx_nome_projeto}}</textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div>
                        <div class="header ">Área Auto-declarada do projeto</div>
                        <div class="form-group">
                          <div class="">
                            <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="">
                            <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="">
                            <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="">
                            <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutter bordered ">
                    <div class="col-md-3 ">
                      <div>
                        <div class="header ">Abrangência</div>
                        <div class="form-group">
                          <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                        </div>
                      </div>
                      <div>
                        <div class="header ">Zona de Atuação</div>
                        <div class="form-group">
                          <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div class="header ">Localização do Projeto</div>
                      <div class="form-group">
                        <div class="form-group">
                          <div class="">
                            <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="header ">OSCs Parceiras</div>
                      <div class="form-group">
                        <div class="form-group">
                          <div class="">
                            <p class="form-control-static">{{proj.tx_nome_projeto}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutter bordered ">
                    <div class="col-md-12 ">
                      <div class="header">Metodologia de Monitoramento e Avaliação do Projeto, atividade e/ou programa</div>
                      <div class="form-group">
                        <textarea class="form-control" disabled="disabled">{{proj.tx_nome_projeto}}</textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutter bordered ">
                    <div class="col-md-12 ">
                      <div class="header">Descrição do Projeto, atividade e/ou programa</div>
                      <div class="form-group">
                        <textarea class="form-control" disabled="disabled">{{proj.tx_nome_projeto}}</textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- footer -->
  <div id="rodape"></div>
  <footer class="section section-primary">
    <div class="container">
      <div id="footer-brasil"></div>
    </div>
  </footer>
  <!--Fim footer-->

  <!--SCRIPTS-->
  <script src="js/libs/react-15.3.1/react.min.js"></script>
  <script src="js/libs/react-15.3.1/react-dom.min.js"></script>
  <script src="js/libs/babel-core/5.8.24/browser.min.js"></script>
  <!--<script type="text/babel" src="js/components/header.js"></script>
  <script type="text/babel" src="js/components/footer.js"></script>-->
  <script type="text/javascript" src="js/libs/angular.min.js"></script>
  <script type="text/javascript" src="js/osc.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script async src="https://barra.brasil.gov.br/barra.js" type="text/javascript"></script>

  </body>
</html>
