<!DOCTYPE html>
<html lang="pt-br" ng-app="oscApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visualizar OSC</title>
    <link rel="icon" href="img/fav.png"/>
    <link rel="shortcut icon" type="image/png" href="img/fav.png"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/libs/jquery-ui-1.12.0/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-controller="OscCtrl as ctrl" ng-init="ctrl.carregarDadosGerais()">
    <div id="barra-brasil"></div>
    <div id="header"></div>

    <div id="conteudo" class="section">
      <div class="container">
        <div class="row">
          <div class="divImg">
            <img src="img/camera.jpg" class="img-rounded media-object logoOSC">
          </div>
          <div>
            <h2>{{ctrl.osc.cabecalho.tx_razao_social_osc}}</h2>
            <h3>CNPJ: {{ctrl.osc.cabecalho.cd_identificador_osc}}</h3>
            <!--h3>Atividade Econômica: {{ctrl.osc.cabecalho.ft_atividade_economica_osc}}</h3-->
            <h3>Natureza Jurídica: {{ctrl.osc.cabecalho.tx_nome_natureza_juridica_osc}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container" id="selecao">
        <ul class="nav nav-pills">
          <li>
            <a href="#dados_gerais" name="dados_gerais" class="scroll">Dados Gerais</a>
          </li>
          <li>
            <a href="#areas_de_atuacao" name="areas_de_atuacao" class="scroll">Áreas de Atuação</a>
          </li>
          <li>
            <a href="#descricao" name="descricao" class="scroll">Descrição da OSC</a>
          </li>
          <li>
            <a href="#titulacao" name="titulacao" class="scroll">Titulações e Certificações</a>
          </li>
          <li>
            <a href="#relacao_trabalho" name="relacao_trabalho" class="scroll">Relações de Trabalho</a>
          </li>
          <li>
            <a href="#participacao_social" name="participacao_social" class="scroll">Participação Social</a>
          </li>
          <li>
            <a href="#projetos" name="projetos" class="scroll">Projetos</a>
          </li>
          <li>
            <a href="#projetos" name="recursos" class="scroll">Fonte de recursos</a>
          </li>
          <li>
            <a href="javascript:if(window.print)window.print()">Imprimir</a>
          </li>
          <li>
            <div class="btnEditar">
              <a id="btnEditar" type="button" title="Clique para Editar"  class="btn btn-info btn-sm">Editar OSC</a>
            </div>
          </li>
        </ul>
        <hr>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">

          <div class="col-md-12" id="dados_gerais">
            <h2>Dados Gerais<a class="btn-item ajuda" type="button" title="Clique para informações sobre os campos de Dados Gerais." onclick="abrirModalAjuda('Dados Gerais');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h2>
            <div class="col-md-12 ">
              <div class="form-group">
                <label>Nome Fantasia:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_nome_fantasia_osc}}</span>
              </div>
              <div class="form-group">
                <label>Sigla OSC:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_sigla_osc}}</span>
              </div>
              <div class="form-group">
                <label>Endereço eletrônico sugerido para esta página:</label>
                <span class="form-control-static"></span>
              </div>
              <div class="form-group">
                <label>Endereço da OSC:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_endereco}}, {{ctrl.osc.dados_gerais.nr_localizacao}} - {{ctrl.osc.dados_gerais.tx_bairro}}, {{ctrl.osc.dados_gerais.tx_nome_municipio}} - {{ctrl.osc.dados_gerais.tx_sigla_uf}}. {{ctrl.osc.dados_gerais.tx_endereco_complemento}}</span>
              </div>
              <div class="form-group">
                <label>Situação do Imóvel:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_nome_situacao_imovel_osc}}</span>
              </div>
              <div class="form-group">
                <label>Responsável Legal:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_nome_responsavel_legal}}</span>
              </div>
              <div class="form-group">
                <label>Ano de inscrição no Cadastro de CNPJ:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.dt_inscricao_osc}}</span>
              </div>
              <div class="form-group">
                <label>Ano de Fundação:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.dt_fundacao_osc}}</span>
              </div>
              <div class="form-group">
                <label>E-mail:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_email}}</span>
              </div>
              <div class="form-group">
                <label>O que a OSC faz:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_resumo_osc}}</span>
              </div>
              <div class="form-group">
                <label>Site:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_site}}</span>
              </div>
              <div class="form-group">
                <label>Telefone:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_telefone}}</span>
              </div>
            </div>

            <a href="#header" name="header" class="scroll topo">Voltar para o topo</a>
          </div>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-12" id="areas_de_atuacao">
            <h2>Áreas de Atuação<a class="btn-item ajuda" type="button" title="Clique para informações sobre os campos de Áreas de Atuação." onclick="abrirModalAjuda('Áreas de Atuação');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h2>
            <div class="col-md-12">
              <div class="form-group">
                <label>Atividade Econômica:</label>
                <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_nome_atividade_economica_osc}}</span>
              </div>
              <div class="form-group"  ng-repeat="area_atuacao in ctrl.osc.area_atuacao.area_atuacao">
                <!--label>{{ctrl.osc.area_atuacao.area_atuacao.tx_nome_area_atuacao}}</label-->
                <label>Área de atuação do projeto, atividade ou programa: </label> {{area_atuacao.tx_nome_area_atuacao}}
                <div>
                  <strong>Subárea</strong> -&gt; <em>{{area_atuacao.tx_nome_subarea_atuacao}}</em>
                </div>
              </div>
              <div class="form-group">
                <label>Outras áreas de atuação do projeto, atividade ou programa</label>
                <div class="form-group" ng-repeat="area_atuacao_outra in ctrl.osc.area_atuacao.area_atuacao_outra">
                  <div class="form-group">
                    <span class="form-control-static">{{area_atuacao_outra.tx_nome_area_atuacao_outra}}</span>
                  </div>
                </div>
              </div>
            </div>

            <a href="#header" name="header" class="scroll topo">Voltar para o topo</a>
          </div>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-12" id="descricao">
            <h2>Descrição da OSC<a class="btn-item ajuda" type="button" title="Clique para informações sobre os campos de Descrição da OSC." onclick="abrirModalAjuda('Descrição da OSC');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h2>
            <div class="col-md-12 ">
              <div class="form-group">
                <label>Como surgiu a OSC:</label>
                <div>
                  <span class="form-control-static">{{ctrl.osc.descricao.tx_historico}}</span>
                </div>
              </div>
              <div class="form-group">
                <label>Missão da OSC:</label>
                <div>
                  <span class="form-control-static">{{ctrl.osc.descricao.tx_missao_osc}}</span>
                </div>
              </div>
              <div class="form-group">
                <label>Visão da OSC:</label>
                <div>
                  <span class="form-control-static">{{ctrl.osc.descricao.tx_visao_osc}}</span>
                </div>
              </div>
              <div class="form-group">
                <label>Finalidades Estatutárias da OSC:</label>
                <div>
                  <span class="form-control-static">{{ctrl.osc.descricao.tx_finalidades_estatutarias}}</span>
                </div>
              </div>
              <div class="form-group">
                <label>Link para o Estatuto da OSC:</label>
                <div>
                  <span class="form-control-static">{{ctrl.osc.dados_gerais.tx_link_estatuto_osc}}</span>
                </div>
              </div>
            </div>
            <a href="#header" name="header" class="scroll topo">Voltar para o topo</a>
          </div>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-12 " id="titulacao">
            <h2>Titulações e Certificações<a class="btn-item ajuda" type="button" title="Clique para informações sobre os campos de Titulações e Certificações." onclick="abrirModalAjuda('Titulações e Certificações');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h2>
            <div ng-repeat="certificado in ctrl.osc.certificado.certificado">
              <label>{{certificado.tx_nome_certificado}}</label>
              <div>
               <span class="form-control-static">Fonte:{{certificado.ft_certificado}}</span>
              </div>
              <span class="form-control-static">(Emitido em {{certificado.dt_inicio_certificado}} - Válido até {{certificado.dt_fim_certificado}})</span>
            </div>
            <a href="#header" name="header" class="scroll topo">Voltar para o topo</a>
          </div>

        </div>
        <hr>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12 " id="relacao_trabalho">
            <h2>Relações de Trabalho<a class="btn-item ajuda" type="button" title="Clique para informações sobre os campos de Relações de Trabalho." onclick="abrirModalAjuda('Relações de Trabalho');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h2>
            <div class="row">
              <div class="col-sm-4">
                <h3>Quadro de Dirigentes</h3>
                <div class="edit-toggle " ng-repeat="governanca in ctrl.osc.relacoes_trabalho_governanca.governanca">
                  <div class="form-group">
                    <span class="form-control-static">{{governanca.tx_cargo_dirigente}}</span>
                  </div>
                  <span>:</span>
                  <div class="form-group">
                    <span class="form-control-static">{{governanca.tx_nome_dirigente}}</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <h3>Conselheiros</h3>
                <div class="edit-toggle " ng-repeat="conselho_fiscal in ctrl.osc.relacoes_trabalho_governanca.conselho_fiscal">
                  <div class="form-group">
                    <span class="form-control-static">{{conselho_fiscal.tx_nome_conselheiro}}</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <h3>Trabalhadores</h3>
                <div class="form-group">
                  <label>Total de Trabalhadores:</label>
                  <span class="form-control-static">{{ctrl.osc.relacoes_trabalho_governanca.relacoes_trabalho.nr_trabalhadores}}</span>
                </div>
                <div class="form-group">
                  <label>Empregados:</label>
                  <span class="form-control-static">{{ctrl.osc.relacoes_trabalho_governanca.relacoes_trabalho.nr_trabalhadores_vinculo}}</span>
                </div>
                <div class="form-group">
                  <label>Trabalhadores com deficiência:</label>
                  <span class="form-control-static">{{ctrl.osc.relacoes_trabalho_governanca.relacoes_trabalho.nr_trabalhadores_deficiencia}}</span>
                </div>
                <div class="form-group">
                  <label>Trabalhadores voluntários:</label>
                  <span class="form-control-static">{{ctrl.osc.relacoes_trabalho_governanca.relacoes_trabalho.nr_trabalhadores_voluntarios}}</span>
                </div>
              </div>
          </div>
          <a href="#header" name="header" class="scroll topo">Voltar para o topo</a>
        </div>
      </div>
      <hr>
    </div>

      <div class="container">
        <div class="row">

          <div class="col-md-12" id="participacao_social">
            <h2>Espaços de Participação Social<a class="btn-item ajuda" type="button" title="Clique para informações sobre os campos de Espaços de Participação Social." onclick="abrirModalAjuda('Espaços de Participação Social');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h2>

            <div class="col-md-12">
              <h3>Conselhos de Políticas Públicas</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nome do Conselho</th>
                    <th>Titularidade</th>
                    <th>Nome de representante</th>
                    <th>Periodicidade da Reunião</th>
                    <th>Data de início de vigência</th>
                    <th>Data de fim de vigência</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="conselho in ctrl.osc.participacao_social.conselho">
                    <td>
                      <span class="form-control-static">{{conselho.tx_nome_conselho}}</span>
                    </td>
                    <td>
                      <span class="form-control-static">{{conselho.tx_nome_tipo_participacao}}</span>
                    </td>
                    <td>
                      <span class="form-control-static">{{conselho.tx_nome_representante_conselho}}</span>
                    </td>
                    <td>
                      <span class="form-control-static">{{conselho.tx_periodicidade_reuniao}}</span>
                    </td>
                    <td>
                      <span class="form-control-static">{{conselho.dt_data_inicio_conselho}}</span>
                    </td>
                    <td>
                      <span class="form-control-static">{{conselho.dt_data_fim_conselho}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <h3>Conferências de Políticas Públicas</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Ano de realização da conferência</th>
                    <th>Nome da Conferência</th>
                    <th>Forma de participação na conferência</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="conferencia in ctrl.osc.participacao_social.conferencia">
                    <td>
                      <span class="form-control-static">{{conferencia.dt_ano_realizacao}}</span>
                    </td>
                    <td>
                      <span class="form-control-static">{{conferencia.tx_nome_conferencia}}</span>
                    </td>
                    <td>
                      <span class="form-control-static">{{conferencia.tx_nome_forma_participacao_conferencia}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <h3>Outros espaços de participação social</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Atuação em Fóruns, Articulações, Coletivos e Redes de OSCs:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="outra in ctrl.osc.participacao_social.outra">
                    <td>
                      <span class="form-control-static">{{outra.tx_nome_participacao_social_outra}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="#header" name="header" class="scroll topo">Voltar para o topo</a>
          </div>

        </div>
        <hr>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12 " id="projetos">
            <div class="project-header ">
              <h2>Projetos, atividades e/ou programas<a class="btn-item ajuda" type="button" title="Clique para informações sobre os campos de Projetos, atividades e/ou programas." onclick="abrirModalAjuda('Projetos, atividades e/ou programas');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h2>
            </div>
            <div class="panel-group" id="accordion" title="Clique para Detalhar o Projeto." role="tablist" aria-multiselectable="true" ng-repeat="proj in ctrl.osc.projeto.projeto">
              <div class="panel panel-default" >

                <a role="button" data-toggle="collapse"  data-parent="#accordion" aria-expanded="false" data="{{'#collapse'+ $index }}" onclick="abrirProjeto(this);" aria-controls="{{'collapse'+ $index }}">
                  <div class="panel-heading " role="tab" id="{{'heading'+ $index }}">
                    <h3 class="panel-title ">{{proj.tx_nome_projeto}}<span class="glyphicon glyphicon-plus" style="float:right" aria-hidden="true"></span></h3>
                  </div>
                </a>

                <div id="{{'collapse'+ $index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{'heading'+ $index }}">
                  <div class="panel-body no-padding ">
<br>
                    <div class="col-md-3 ">
                      <div class="header">Descrição do Projeto, atividade e/ou programa</div>
                        <div class="form-group">
                          <span class="form-control-static">{{proj.objetivo_meta.tx_nome_meta_projeto}}</span>
                      </div>
                      </div>

                      <div class="col-md-3 ">
                      <div class="header ">Ano de início</div>
                      <div class="form-group">
                          <span class="form-control-static">{{proj.dt_data_inicio_projeto}}</span>
                      </div>
                      </div>

                      <div class="col-md-3 ">
                      <div class="header ">Ano de conclusão</div>
                      <div class="form-group">
                          <span class="form-control-static">{{proj.dt_data_fim_projeto}}</span>
                      </div>
                      </div>

                      <div class="col-md-3 ">
                      <div class="header ">Total de Beneficiários</div>
                      <div class="form-group">
                          <span class="form-control-static">{{proj.nr_total_beneficiarios}}</span>
                      </div>
                      </div>

                      <div class="col-md-3 ">
                        <div class="header ">Público Beneficiado</div>
                        <div class="form-group"  ng-repeat="pubben in proj.publico_beneficiado">
                          <span class="form-control-static">{{pubben.tx_nome_publico_beneficiado}}:</span>
                          <span class="form-control-static">{{pubben.nr_estimativa_pessoas_atendidas}} pessoas</span>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                      <div>
                        <div class="header ">Valor Total</div>
                        <div class="form-group">
                          <span class="form-control-static">R${{proj.nr_valor_total_projeto}}</span>
                        </div>
                      </div>
                      <div>
                        <div class="header ">Valor Captado</div>
                        <div class="form-group">
                          <span class="form-control-static">R${{proj.nr_valor_captado_projeto}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="header ">Tipo da Fonte de Recursos</div>
                        <div class="form-group"  ng-repeat="fonte in proj.fonte_recursos">
                          <span class="form-control-static">{{fonte.tx_nome_fonte_recursos_projeto}}</span>
                        </div>
                        <div>
                          <div class="header ">Financiadores do Projeto</div>
                          <div class="form-group">
                            <span class="form-control-static">{{proj.nr_valor_captado_projeto}}</span>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="header ">Área Auto-declarada do projeto</div>
                        <div class="form-group"  ng-repeat="area_atuacao in proj.area_atuacao">
                            <span class="form-control-static">{{area_atuacao.tx_nome_area_atuacao_projeto}}</span>
                        </div>
                        <div class="form-group"  ng-repeat="area_atuacao_outra in proj.area_atuacao_outra">
                            <span class="form-control-static">{{area_atuacao_outra.tx_nome_area_atuacao_outra_projeto}}</span>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="header ">Abrangência de atuação</div>
                        <div class="form-group">
                          <span class="form-control-static">{{proj.tx_nome_abrangencia_projeto}}</span>
                        </div>
                      <div>
                        <div class="header ">Zona de Atuação</div>
                        <div class="form-group">
                          <span class="form-control-static">{{proj.tx_nome_zona_atuacao}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 ">
                      <div class="header ">Localização do Projeto</div>
                      <div class="form-group"  ng-repeat="localizacao in proj.localizacao">
                        <span class="form-control-static">{{localizacao.tx_nome_regiao_localizacao_projeto}}</span>
                      </div>
                    </div>

                    <div class="col-md-6 ">
                      <div class="header ">OSCs Parceiras</div>
                      <div class="form-group"  ng-repeat="osc_parceira in proj.osc_parceira">
                        <span class="form-control-static">{{osc_parceira.tx_nome_osc_parceira_projeto}}</span>
                      </div>
                    </div>

                    <div class="col-md-12 ">
                      <div class="header">Objetivos de desenvolvimento do milênio</div>
                      <div class="form-group">
                        <span class="form-control-static" >{{proj.objetivo_meta.tx_nome_objetivo_projeto}}</span>
                      </div>
                    </div>

                    </div>

                </div>
              </div>
            </div>

            <div class="project-header ">
              <div class="col-md-12">
                <h3>Total de recursos com projetos, atividades e/ou programas</h3>
                <div class="form-group">
                <span class="form-control-static" >R${{ctrl.osc.projeto.recursos.nr_valor_total}}</span>
              </div>
              </div>
          </div>
          <a href="#header" name="header" class="scroll topo">Voltar para o topo</a>
          </div>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-12" id="recursos">
            <h2>Fonte de recursos anual da OSC<a class="btn-item ajuda" type="button" title="Clique para informações sobre os campos de Fonte de recursos anual da OSC." onclick="abrirModalAjuda('Fonte de recursos anual da OSC');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h2>

              <div class="form-group">
                <label>Recursos públicos:</label>
                  <span class="form-control-static">R${{ctrl.osc.recursos.recursos.nr_valor_recursos_osc}}</span>
                </div>

                <div class="form-group">
                  <label>Recursos privados:</label>
                <span class="form-control-static">{{ctrl.osc.recursos.recursos_outro.tx_nome_fonte_recursos_outro_osc}}</span>
              </div>

              <div class="form-group">
                <label>Recursos internacionais:</label>
              <span class="form-control-static">{{ctrl.osc.recursos.recursos_outro.tx_nome_fonte_recursos_outro_osc}}</span>
            </div>

            <div class="form-group">
              <label>Recursos próprios:</label>
              <span class="form-control-static">{{ctrl.osc.recursos.recursos_outro.tx_nome_fonte_recursos_outro_osc}}</span> -&gt;
              <span class="form-control-static">R${{ctrl.osc.recursos.recursos_outro.nr_valor_recursos_outro_osc}}</span>
            </div>

              </div>

            <a href="#header" name="header" class="scroll topo">Voltar para o topo</a>
            </div>
            </div>
            </div>




  </div>

  <!-- Modal-->
  <div class="modal fade" id="modalAjuda" tabindex="-1" role="dialog" aria-labelledby="modalTitulo" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title bold" id="modalTitulo"></h4>
        </div>
        <div id="corpoModal" class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div id="rodape"></div>
  <footer class="section section-primary">
    <div class="container">
      <div id="footer-brasil"></div>
    </div>
  </footer>
  <!--Fim footer-->

  <!--SCRIPTS-->
  <script src="js/libs/react-15.3.1/react.min.js"></script>
  <script src="js/libs/react-15.3.1/react-dom.min.js"></script>
  <script type="text/javascript" data-main="js/header-footer.js" src="js/libs/require-2.3.2/require.min.js"></script>
  <script src="js/config.js"></script>
  <script type="text/javascript" src="js/libs/angular.min.js"></script>
  <script type="text/javascript" src="js/rotas.js"></script>
  <script type="text/javascript" src="js/visualizar-osc.js"></script>
  <script async src="https://barra.brasil.gov.br/barra.js" type="text/javascript"></script>

  </body>
</html>
